:host {
  display: block;
}

.server-icon {
  font-size: 48px !important;
  width: 48px !important;
  height: 48px !important;
  line-height: 48px !important;
}

.loader mat-spinner {
  margin: 0 auto;
}
